In [3]:
import pandas as pd
# Read CSV file
df = pd.read_csv("earthquake_1995-2023.csv")

# Display first 10 rows
print(df.head(10))

# Get dataset information
print(df.info())

# Check for missing values
print(df.isnull())

                                               title  magnitude  \
0                   M 6.5 - 42 km W of Sola, Vanuatu        6.5
1           M 6.5 - 43 km S of Intipucá, El Salvador        6.5
2           M 6.6 - 25 km ESE of Loncopué, Argentina        6.6
3              M 7.2 - 98 km S of Sand Point, Alaska        7.2
4                           M 7.3 - Alaska Peninsula        7.3
5  M 6.6 - 277 km NNE of Codrington, Antigua and ...        6.6
6                                      M 6.9 - Tonga        6.9
7                  M 7.2 - south of the Fiji Islands        7.2
8              M 6.6 - Panama-Colombia border region        6.6
9           M 7.1 - southeast of the Loyalty Islands        7.1

          date_time  cdi  mmi   alert  tsunami  sig net  nst      dmin    gap  \
0  16-08-2023 12:47    7    4   green        0  657  us  114  7.177000   25.0
1  19-07-2023 00:22    8    6  yellow        0  775  us   92  0.679000   40.0
2  17-07-2023 03:05    7    5   green        0  899  us   70  1.634000   28.0
3  16-07-2023 06:48    6    6   green        1  860  us  173  0.907000   36.0
4  16-07-2023 06:48    0    5     NaN        1  820  at   79  0.879451  172.8
5  10-07-2023 20:28    5    4   green        1  802  us   95  2.454000   37.0
6  02-07-2023 10:27    4    4   green        1  741  us  136  1.179000   23.0
7  15-06-2023 18:06    8    6   green        1  804  us   85  2.590000   24.0
8  25-05-2023 03:05    6    6   green        1  733  us   50  2.163000  129.0
9  20-05-2023 01:51    3    4   green        1  777  us   98  2.812000   56.0

  magType    depth  latitude  longitude                         location  \
0     mww  192.955  -13.8814   167.1580                    Sola, Vanuatu
1     mww   69.727   12.8140   -88.1265            Intipucá, El Salvador
2     mww  171.371  -38.1911   -70.3731              Loncopué, Argentina
3     mww   32.571   54.3844  -160.6990               Sand Point, Alaska
4      Mi   21.000   54.4900  -160.7960                 Alaska Peninsula
5     mww   10.000   20.0196   -61.0955  Codrington, Antigua and Barbuda
6     mww  229.000  -17.8530  -174.9370                            Tonga
7     mww  167.404  -22.9824  -177.2080                 the Fiji Islands
8     mww   10.000    8.8894   -77.1231    Panama-Colombia border region
9     mww   35.981  -23.0622   170.4560              the Loyalty Islands

       continent    country
0            NaN    Vanuatu
1            NaN        NaN
2  South America  Argentina
3            NaN        NaN
4            NaN        NaN
5            NaN        NaN
6            NaN        NaN
7            NaN        NaN
8            NaN   Colombia
9            NaN        NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 19 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   title      1000 non-null   object
 1   magnitude  1000 non-null   float64
 2   date_time  1000 non-null   object
 3   cdi        1000 non-null   int64
 4   mmi        1000 non-null   int64
 5   alert      449 non-null    object
 6   tsunami    1000 non-null   int64
 7   sig        1000 non-null   int64
 8   net        1000 non-null   object
 9   nst        1000 non-null   int64
 10  dmin       1000 non-null   float64
 11  gap        1000 non-null   float64
 12  magType    1000 non-null   object
 13  depth      1000 non-null   float64
 14  latitude   1000 non-null   float64
 15  longitude  1000 non-null   float64
 16  location   994 non-null    object
 17  continent  284 non-null    object
 18  country    651 non-null    object
dtypes: float64(6), int64(5), object(8)
memory usage: 117.3+ KB
None
     title  magnitude  date_time    cdi    mmi  alert  tsunami    sig    net  \
0    False      False      False  False  False  False    False  False  False
1    False      False      False  False  False  False    False  False  False
2    False      False      False  False  False  False    False  False  False
3    False      False      False  False  False  False    False  False  False
4    False      False      False  False  False   True    False  False  False
..     ...        ...        ...    ...    ...    ...      ...    ...    ...
995  False      False      False  False  False   True    False  False  False
996  False      False      False  False  False   True    False  False  False
997  False      False      False  False  False   True    False  False  False
998  False      False      False  False  False   True    False  False  False
999  False      False      False  False  False   True    False  False  False

       nst   dmin    gap  magType  depth  latitude  longitude  location  \
0    False  False  False    False  False     False      False     False
1    False  False  False    False  False     False      False     False
2    False  False  False    False  False     False      False     False
3    False  False  False    False  False     False      False     False
4    False  False  False    False  False     False      False     False
..     ...    ...    ...      ...    ...       ...        ...       ...
995  False  False  False    False  False     False      False     False
996  False  False  False    False  False     False      False     False
997  False  False  False    False  False     False      False     False
998  False  False  False    False  False     False      False     False
999  False  False  False    False  False     False      False     False

     continent  country
0         True    False
1         True     True
2        False    False
3         True     True
4         True     True
..         ...      ...
995      False    False
996       True     True
997       True    False
998      False    False
999       True    False

[1000 rows x 19 columns]